<ion-header>
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>


    <ion-title>Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/bmbKwPL8nEE5ASZsGYonBsjY6bx.jpg">

    <ion-item>
      <ion-label class="ion-text-wrap">Enrolados</ion-label>
      <ion-chip>
        <ion-label color="success">76%</ion-label>
      </ion-chip>
    </ion-item>
  
    <ion-card-content>
      <p>07/01/2011</p>
      <br>
      <br>
      <ion-badge color="light">Animação</ion-badge>
      <ion-badge color="light">Família</ion-badge>
    </ion-card-content>
  </ion-card>

</ion-content>
