<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar placeholder="Procurar"></ion-searchbar>

  <ion-list>

    <ion-item-sliding routerLink="/enrolados">
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/bmbKwPL8nEE5ASZsGYonBsjY6bx.jpg">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <h1>
              Enrolados (2010)</h1>
            <p>07/01/2011 (BR) - 1h 41m</p>
            <p>Animação, família</p>
          </div>
        </ion-label>
        <ion-chip>
          <ion-label color="success" outline>76%</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option>
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding routerLink="/happy-feet">
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/vd5OoU5rhfKblLoLwaCK5QU0yJS.jpg">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <h1>
              Happy Feet: O Pinguim (2006)</h1>
            <p>24/11/2006 (BR) - 1h m</p>
            <p>Animação, Comédia, Família</p>
          </div>
        </ion-label>
        <ion-chip>
          <ion-label color="success" outline>61%</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option>
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding routerLink="/lilo-stutch">
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/ottRXMCQ9jPB318syTcfIdtJWIE.jpg">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <h1>Lilo e Stitch (2002)</h1>
            <p>8/06/2002 (BR) - 1h 25m</p>
            <p>Animação, Família            </p>
          </div>
        </ion-label>
        <ion-chip>
          <ion-label color="success" outline>75%</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option>
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding routerLink="/madagascar">
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/7aoLcwd4nQVGbG7L4vqu0d929JD.jpg">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <h1>Madagascar (2005)</h1>
            <p>24/06/2005 (BR) - 1h 26m</p>
            <p>Família, Animação, Aventura, Comédia            </p>
          </div>
        </ion-label>
        <ion-chip>
          <ion-label color="success" outline>69%</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option>
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding routerLink="/ta-dando-onda">
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/14KMDGifEXUMVadXs38TAqc55oi.jpg">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <h1>Tá Dando Onda (2007)</h1>
            <p>08/06/2007 (BR) - 1h 38m</p>
            <p>Animação, Comédia, Família</p>
          </div>
        </ion-label>
        <ion-chip>
          <ion-label color="success" outline>68%</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option>
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>


</ion-content>